@import "tailwindcss";


@font-face {
	font-family: 'Averia Gruesa Libre';
		src: url('/fonts/AveriaGruesaLibre-Regular.ttf') format('truetype');
		font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto Mono Variable';
		src: url('/fonts/RobotoMono-VariableFont_wght.ttf') format('truetype-variations');
		font-weight: 100 900;
	font-style: normal;
	font-display: swap;
	font-variation-settings: "wght" 400;
}

@theme {
	/* Your existing color variables */
	--color-primary-background: #FFFFFF;
	--color-primary-headings: #313B41;
	--color-primary-paragraphs: #4E5458;
	--color-primary-details: #A5A3A3;
	--color-accent-background: #F2F5F6;
	--color-accent-headings: #313B41;
	--color-accent-paragraphs: #4E5458;
	--color-accent-details: #A5A3A3;
	--color-button-background: #604332;
	--color-button-text: #FFFFFF;
	--color-button-background-hover: #58504B;
	--color-button-text-hover: #FFFFFF;

	/* Define your custom font as a theme variable */
		--font-averia-gruesa: 'Averia Gruesa Libre', sans-serif;
		--font-roboto-mono: 'Roboto Mono Variable', monospace;
}

@layer utilities {

	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none;
		/* IE and Edge */
		scrollbar-width: none;
		/* Firefox */
	}
}
html {
	text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	font-family: sans-serif;
	line-height: 1.15;
	background-color: var(--color-accent-background);
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	font-family: var(--font-averia-gruesa);
	color: var(--color-accent-paragraphs);
	overflow-x: hidden;
	position: relative;
	min-height: 100vh;
	background-color: var(--color-accent-background);
}

/* Smooth scroll sections */
section {
	scroll-margin-top: 0;
}
