---
import "../styles/global.css";
import FactsReact from "../components/FactsReact";
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import { getImageByID } from "../utils/wordpressAPI";
import ScrollReveal from "../components/ReactBits/ScrollReveal";
import TrueFocus from "../components/ReactBits/TrueFocus";
import Facts from "../components/Facts.astro";

const imagesIDs: { image: number }[] = [
  {
    image: 45,
  },
  {
    image: 41,
  },
  {
    image: 42,
  },
  {
    image: 67,
  },
  {
    image: 68,
  },
  {
    image: 69,
  },
  {
    image: 65,
  },
];

const getImagesByIDs = async (imageIDs: { image: number }[]) => {
  const promises = imageIDs.map((imageID) => getImageByID(imageID.image));
  return await Promise.all(promises);
};
const imagesData = await getImagesByIDs(imagesIDs);

console.log("Images Data:", imagesData);
---

<BaseLayout
  siteTitle="Copëza Jete | Kreu"
  siteDescription="fotograf, fotografi natyre, foto artistike"
>
  <Hero />
  <div class="mx-auto container">
    <ScrollReveal
      client:only
      baseOpacity={0}
      enableBlur={true}
      baseRotation={0}
      blurStrength={10}
      textClassName="text-center"
      containerClassName="px-4 h-dvh place-content-center grid"
    >
      Më shumë se një imazh, një copëz jete. Çdo fotografi ka një histori për të
      treguar. Ajo kap thelbin e momenteve, duke i shndërruar ato në kujtime që
      do t'i mbani përjetësisht. Një copëz jete e shndërruar në art.
    </ScrollReveal>
  </div>

  <Facts />

  <!-- <FactsReact client:only /> -->
</BaseLayout>
