---
import pages from "../config/pages.json";
import MenuLink from "./MenuLink.astro";

const menuLinks = pages.map((page) => {
  return {
    slug: page.slug,
    title: page.title,
  };
});
---

<header class="z-50 fixed bg-transparent w-full">
  <div class="mx-auto px-5 py-7 container">
    <div class="flex justify-between items-center">
      <a
        href="/"
        class="text-2xl leading-16 text-accent-background cursor-pointer"
        >Copëza Jete</a
      >
      <div>
        <MenuLink>Sete</MenuLink>
        <MenuLink>Kontakt</MenuLink>
      </div>
    </div>
  </div>
</header>
